button {
  margin-top: 10%;
  width: 86%;  
  margin-left: 7%;
  margin-right: 7%;
  padding: 3%;
  color: white;
  background-color: rgba(0,120,240,255);
  border-radius: 5px;
  border: none;
}

div {
  margin: 0px;
}

input {  
  width: calc(100% - 30px);
  border: none;  
}


.App {
  text-align: center;  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.azul {
  color: blue;
}

.capsula {
  border-radius: 10px;  
  margin-top: 10%;
  padding-top: 4%;
  padding-bottom: 4%;
  width: 30%;
  margin-left: 12%;
  margin-right: 12%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding-bottom: 4%;  
  position: relative;
  z-index: 1;
  background-color: white;
}

.cinza {
  color: gray;
}

.facalogin {
  padding-top: 20%;
  border: 5px;
  width: 20%;
  margin-left: auto;
  margin-right: 25%;
  position: relative;
  z-index: 2;
  color: white;
}

.formulario {  
  display: flex;
  
}

.id {
  text-align: left;
  min-width: auto;
  margin-left: 15%;
  margin-right: 15%;
}

.inserir {
  margin: 0%;
  border-bottom: 1px solid grey;
}

.pol1 {
  float: left;
  position: absolute;  
  z-index: -1;
}

.pol2 {
  float: left;
  margin-left: 8%;
  margin-top: 30%;
  position: absolute;
  
  z-index: -1;
}

.pol3 {
  float: left;  
  margin-left: 55%;
  margin-top: 10%;
  position: absolute;  
  z-index: -1;
}

.usuario {
  margin-left: calc(100% - 23px);
  margin-right: auto;
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
