div {
  margin: 0px;
}

.App {
  text-align: center;  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.azul {
  color: blue;
}

.capsula {
  border-radius: 10px;  
  margin: 12%;
  width: 30%;
  margin-left: 15%;
  margin-right: auto;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding-bottom: 4%;
}

.cinza {
  color: gray;
}

.facalogin {
  padding-top: 20%;
  border: 5px;
  width: 20%;
  margin-left: auto;
  margin-right: 25%;
}

.formulario {  
  display: flex;
  
}

.pol1 {
  width: 393px;
  height: 342px;
  float: left;
  z-index: -1;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
